Repository hfyeomans/ztna-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-fmt-packet-processor, rust-fmt-echo-server, rust-fmt-quic-client, rust-clippy-app-connector, rust-clippy-intermediate-server, rust-clippy-packet-processor, rust-clippy-echo-server, rust-clippy-quic-client, shellcheck, swiftlint

rust-fmt-app-connector:
  name: rustfmt (app-connector)
  entry: cargo fmt --manifest-path app-connector/Cargo.toml --all --
  language: system
  pass_filenames: false

rust-fmt-intermediate-server:
  name: rustfmt (intermediate-server)
  entry: cargo fmt --manifest-path intermediate-server/Cargo.toml --all --
  language: system
  pass_filenames: false

rust-fmt-packet-processor:
  name: rustfmt (packet_processor)
  entry: cargo fmt --manifest-path core/packet_processor/Cargo.toml --all --
  language: system
  pass_filenames: false

rust-fmt-echo-server:
  name: rustfmt (echo-server)
  entry: cargo fmt --manifest-path tests/e2e/fixtures/echo-server/Cargo.toml --all --
  language: system
  pass_filenames: false

rust-fmt-quic-client:
  name: rustfmt (quic-client)
  entry: cargo fmt --manifest-path tests/e2e/fixtures/quic-client/Cargo.toml --all --
  language: system
  pass_filenames: false

rust-clippy-app-connector:
  name: clippy (app-connector)
  entry: cargo clippy --manifest-path app-connector/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

rust-clippy-intermediate-server:
  name: clippy (intermediate-server)
  entry: cargo clippy --manifest-path intermediate-server/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

rust-clippy-packet-processor:
  name: clippy (packet_processor)
  entry: cargo clippy --manifest-path core/packet_processor/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

rust-clippy-echo-server:
  name: clippy (echo-server)
  entry: cargo clippy --manifest-path tests/e2e/fixtures/echo-server/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

rust-clippy-quic-client:
  name: clippy (quic-client)
  entry: cargo clippy --manifest-path tests/e2e/fixtures/quic-client/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

shellcheck:
  name: ShellCheck
  entry: shellcheck --severity=warning --exclude=SC1071
  language: system

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --quiet
  language: system
  pass_filenames: false

007: Add 8 findings from PR #7 code review (Gemini + CodeRabbit)
  tasks/007-security-hardening/placeholder.md
  tasks/007-security-hardening/plan.md
  tasks/007-security-hardening/research.md
  tasks/007-security-hardening/state.md
  tasks/007-security-hardening/todo.md
Due: none

docs: Update shared _context/ for PR #7 merge and post-MVP completions
  tasks/_context/README.md
  tasks/_context/components.md
  tasks/_context/testing-guide.md
Due: none

007: Security hardening — TLS verification, rate limiting, protocol & config fixes
  app-connector/src/main.rs
  core/packet_processor/src/lib.rs
  core/packet_processor/src/p2p/connectivity.rs
  core/packet_processor/src/p2p/mod.rs
  core/packet_processor/src/p2p/resilience.rs
  deploy/aws/aws-deploy-skill.md
  deploy/config/agent.json
  deploy/config/connector.json
  deploy/config/intermediate.json
  deploy/docker-nat-sim/TEST_REPORT.md
  deploy/docker-nat-sim/docker-compose.yml
  deploy/docker-nat-sim/setup-nat.sh
  deploy/k8s/base/secrets.yaml
  deploy/k8s/build-push.sh
  deploy/k8s/validate-secrets.sh
  intermediate-server/src/main.rs
  ios-macos/Shared/PacketProcessor-Bridging-Header.h
  ios-macos/ZtnaAgent/Extension/AgentFFI.swift
  ios-macos/ZtnaAgent/Extension/PacketTunnelProvider.swift
  ios-macos/ZtnaAgent/ZtnaAgent/ContentView.swift
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-fmt-packet-processor, rust-clippy-app-connector, rust-clippy-intermediate-server, rust-clippy-packet-processor, shellcheck, swiftlint

007: Auth hardening — sender authorization, registration warnings, test fixes
  deploy/docker-nat-sim/TEST_REPORT.md
  intermediate-server/src/main.rs
  intermediate-server/src/registry.rs
  ios-macos/ZtnaAgent/ZtnaAgentTests/VPNManagerTests.swift
  tasks/007-security-hardening/todo.md
Due: rust-fmt-intermediate-server, rust-clippy-intermediate-server, swiftlint

007: Update state.md — all 5 phases complete
  tasks/007-security-hardening/state.md
Due: none

007: Add detailed deferred-items documentation to todo.md and state.md
  tasks/007-security-hardening/state.md
  tasks/007-security-hardening/todo.md
Due: none

007: Update plan/todo/state for Phases 6-8 security hardening
  tasks/007-security-hardening/plan.md
  tasks/007-security-hardening/state.md
  tasks/007-security-hardening/todo.md
Due: none

007 Phases 6A+6B+7B+8A+8B: Intermediate server — mTLS, cert reload, retry tokens, reg ACK, CID rotation
  intermediate-server/Cargo.lock
  intermediate-server/Cargo.toml
  intermediate-server/src/auth.rs
  intermediate-server/src/client.rs
  intermediate-server/src/main.rs
  intermediate-server/tests/integration_test.rs
  scripts/generate-client-certs.sh
  tests/e2e/fixtures/quic-client/src/main.rs
Due: rust-fmt-intermediate-server, rust-fmt-quic-client, rust-clippy-intermediate-server, rust-clippy-quic-client, shellcheck

007 Phases 7A+8A+8B: App connector — non-blocking TCP, reg ACK, CID rotation
  app-connector/src/main.rs
  app-connector/tests/integration_test.rs
Due: rust-fmt-app-connector, rust-clippy-app-connector

007 Phases 8A+8B: Packet processor — registration ACK retry, CID rotation
  core/packet_processor/src/lib.rs
Due: rust-fmt-packet-processor, rust-clippy-packet-processor

007 Phase 6B: Deploy tooling — certbot, systemd timer, k8s cert-manager
  deploy/aws/setup-certbot.sh
  deploy/aws/ztna-cert-renew.service
  deploy/aws/ztna-cert-renew.timer
  deploy/k8s/overlays/cert-manager/certificate.yaml
  deploy/k8s/overlays/cert-manager/issuer.yaml
  deploy/k8s/overlays/cert-manager/kustomization.yaml
Due: shellcheck

007: Fix 3 Oracle review findings — P2P demux, NACK retry storm, per-service pending
  app-connector/src/main.rs
  core/packet_processor/src/lib.rs
Due: rust-fmt-app-connector, rust-fmt-packet-processor, rust-clippy-app-connector, rust-clippy-packet-processor

007: Fix stateless retry — reuse Retry SCID for accept() transport parameter match
  intermediate-server/src/main.rs
Due: rust-fmt-intermediate-server, rust-clippy-intermediate-server

007: Fix 3 code review findings — P2P binding demux, reconnect state, multi-ACK
  app-connector/src/main.rs
  core/packet_processor/src/lib.rs
Due: rust-fmt-app-connector, rust-fmt-packet-processor, rust-clippy-app-connector, rust-clippy-packet-processor

007: Fix PR review findings — P2P cert validation, ACK service check, start guard
  app-connector/src/main.rs
  ios-macos/ZtnaAgent/ZtnaAgent/ContentView.swift
  tasks/007-security-hardening/state.md
Due: rust-fmt-app-connector, rust-clippy-app-connector, swiftlint

007: Add PR comment resolution script
  scripts/resolve-pr-comments.sh
Due: shellcheck

007: Fix clippy manual_is_multiple_of lint in quic-test-client
  tests/e2e/fixtures/quic-client/src/main.rs
Due: rust-fmt-quic-client, rust-clippy-quic-client

docs: Update shared _context/ for Task 007 completion (PR #8)
  tasks/_context/README.md
  tasks/_context/components.md
Due: none

docs: Update _context/ architecture, protocol, and diagrams for Task 007
  tasks/_context/README.md
  tasks/_context/components.md
  tasks/_context/testing-guide.md
Due: none

chore: Mark task 014 complete and move to tasks/done/
  tasks/done/014-pr-comment-graphql-hardening/plan.md
  tasks/done/014-pr-comment-graphql-hardening/research.md
  tasks/done/014-pr-comment-graphql-hardening/state.md
  tasks/done/014-pr-comment-graphql-hardening/todo.md
Due: none

chore: Triage Oracle Review 01 findings and create Task 015
  tasks/008-production-operations/placeholder.md
  tasks/008-production-operations/plan.md
  tasks/008-production-operations/research.md
  tasks/008-production-operations/todo.md
  tasks/009-multi-service-architecture/placeholder.md
  tasks/009-multi-service-architecture/plan.md
  tasks/009-multi-service-architecture/research.md
  tasks/009-multi-service-architecture/todo.md
  tasks/011-protocol-improvements/placeholder.md
  tasks/011-protocol-improvements/plan.md
  tasks/011-protocol-improvements/research.md
  tasks/011-protocol-improvements/todo.md
  tasks/015-oracle-quick-fixes/depreciated.md
  tasks/015-oracle-quick-fixes/placeholder.md
  tasks/015-oracle-quick-fixes/plan.md
  tasks/015-oracle-quick-fixes/research.md
  tasks/015-oracle-quick-fixes/state.md
  tasks/015-oracle-quick-fixes/todo.md
  tasks/_context/README.md
  tasks/_context/components.md
  tasks/_context/testing-guide.md
Due: none

fix: Implement 4 Oracle quick-fix findings (Task 015)
  app-connector/src/main.rs
  core/packet_processor/src/lib.rs
  core/packet_processor/src/p2p/connectivity.rs
  core/packet_processor/src/p2p/signaling.rs
  docs/architecture_design.md
  docs/walkthrough.md
  intermediate-server/src/main.rs
  intermediate-server/src/qad.rs
  ios-macos/Shared/PacketProcessor-Bridging-Header.h
  tasks/015-oracle-quick-fixes/depreciated.md
  tasks/015-oracle-quick-fixes/placeholder.md
  tasks/015-oracle-quick-fixes/state.md
  tasks/015-oracle-quick-fixes/todo.md
  tasks/_context/README.md
  tasks/_context/components.md
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-fmt-packet-processor, rust-clippy-app-connector, rust-clippy-intermediate-server, rust-clippy-packet-processor

fix: Correct test count to 146 and fix MD058 markdownlint warnings
  tasks/015-oracle-quick-fixes/todo.md
  tasks/_context/README.md
  tasks/_context/components.md
Due: none

chore: Mark task 015 complete and move to tasks/done/
  tasks/_context/README.md
  tasks/done/015-oracle-quick-fixes/depreciated.md
  tasks/done/015-oracle-quick-fixes/placeholder.md
  tasks/done/015-oracle-quick-fixes/plan.md
  tasks/done/015-oracle-quick-fixes/research.md
  tasks/done/015-oracle-quick-fixes/state.md
  tasks/done/015-oracle-quick-fixes/todo.md
Due: none

chore: Update shared _context/ after Task 015 merge
  tasks/_context/README.md
  tasks/_context/components.md
  tasks/_context/testing-guide.md
Due: none

chore: Create task 016 — Infrastructure Architecture
  tasks/016-infrastructure-architecture/depreciated.md
  tasks/016-infrastructure-architecture/placeholder.md
  tasks/016-infrastructure-architecture/plan.md
  tasks/016-infrastructure-architecture/research.md
  tasks/016-infrastructure-architecture/state.md
  tasks/016-infrastructure-architecture/todo.md
  tasks/_context/README.md
  tasks/_context/components.md
Due: none

feat: Add auto-reconnection, graceful shutdown, and Oracle security fixes
  app-connector/Cargo.lock
  app-connector/Cargo.toml
  app-connector/src/main.rs
  intermediate-server/src/main.rs
  tasks/008-production-operations/plan.md
  tasks/008-production-operations/state.md
  tasks/008-production-operations/todo.md
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-clippy-app-connector, rust-clippy-intermediate-server

feat: Add Prometheus metrics and health check endpoints
  app-connector/src/main.rs
  app-connector/src/metrics.rs
  intermediate-server/src/main.rs
  intermediate-server/src/metrics.rs
  intermediate-server/tests/integration_test.rs
  tasks/008-production-operations/state.md
  tasks/008-production-operations/todo.md
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-clippy-app-connector, rust-clippy-intermediate-server

feat: Add deployment automation and CI/CD pipelines
  .github/workflows/release.yml
  .github/workflows/test.yml
  deploy/README.md
  deploy/ansible/ansible.cfg
  deploy/ansible/inventory.ini
  deploy/ansible/playbook.yml
  deploy/ansible/roles/ztna/handlers/main.yml
  deploy/ansible/roles/ztna/tasks/main.yml
  deploy/ansible/roles/ztna/templates/echo-server.service.j2
  deploy/ansible/roles/ztna/templates/ztna-connector.service.j2
  deploy/ansible/roles/ztna/templates/ztna-intermediate.service.j2
  deploy/docker/Dockerfile.connector
  deploy/docker/Dockerfile.intermediate
  deploy/terraform/ec2.tf
  deploy/terraform/main.tf
  deploy/terraform/outputs.tf
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/user_data.sh.tftpl
  deploy/terraform/variables.tf
Due: none

fix: Address Oracle review findings (3 issues)
  app-connector/src/main.rs
  app-connector/tests/integration_test.rs
  deploy/ansible/roles/ztna/tasks/main.yml
  deploy/ansible/roles/ztna/templates/echo-server.py.j2
  deploy/ansible/roles/ztna/templates/echo-server.service.j2
Due: rust-fmt-app-connector, rust-clippy-app-connector

chore: Update task 008 docs and shared _context/ for completion
  tasks/008-production-operations/depreciated.md
  tasks/008-production-operations/placeholder.md
  tasks/008-production-operations/state.md
  tasks/008-production-operations/todo.md
  tasks/_context/README.md
  tasks/_context/components.md
Due: none

docs: Add observability demo acts, metrics commands, and architecture section
  docs/architecture.md
  docs/demo-runbook.md
  tasks/_context/README.md
Due: none

fix: Address PR review findings from CodeRabbit and Gemini
  .github/workflows/release.yml
  app-connector/src/main.rs
  app-connector/src/metrics.rs
  deploy/ansible/inventory.ini
  deploy/terraform/ec2.tf
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/variables.tf
  docs/architecture.md
  docs/demo-runbook.md
  intermediate-server/src/main.rs
  intermediate-server/src/metrics.rs
  tasks/_context/components.md
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-clippy-app-connector, rust-clippy-intermediate-server

fix: Tighten HTTP route matching and fix roadmap consistency
  app-connector/src/main.rs
  intermediate-server/src/main.rs
  tasks/_context/components.md
Due: rust-fmt-app-connector, rust-fmt-intermediate-server, rust-clippy-app-connector, rust-clippy-intermediate-server

chore: Note pre-existing MD040 lint issue in deferred items
  tasks/_context/README.md
Due: none

fix: Align prevent_destroy comment with intentional false value
  deploy/terraform/ec2.tf
Due: none

fix: Correct metrics bind docs and hyphenate compound modifier
  tasks/_context/README.md
Due: none

chore: Mark task 008 complete and move to tasks/done/
  tasks/_context/README.md
  tasks/done/008-production-operations/depreciated.md
  tasks/done/008-production-operations/placeholder.md
  tasks/done/008-production-operations/plan.md
  tasks/done/008-production-operations/research.md
  tasks/done/008-production-operations/state.md
  tasks/done/008-production-operations/todo.md
Due: none

chore: Record live AWS verification results for Task 008
  tasks/done/008-production-operations/state.md
  tasks/done/008-production-operations/todo.md
Due: none

Path conditions:
  rust-fmt-app-connector: any of: ^app-connector/.*\.rs$
  rust-fmt-intermediate-server: any of: ^intermediate-server/.*\.rs$
  rust-fmt-packet-processor: any of: ^core/packet_processor/.*\.rs$
  rust-fmt-echo-server: any of: ^tests/e2e/fixtures/echo-server/.*\.rs$
  rust-fmt-quic-client: any of: ^tests/e2e/fixtures/quic-client/.*\.rs$
  rust-clippy-app-connector: any of: ^app-connector/.*\.rs$
  rust-clippy-intermediate-server: any of: ^intermediate-server/.*\.rs$
  rust-clippy-packet-processor: any of: ^core/packet_processor/.*\.rs$
  rust-clippy-echo-server: any of: ^tests/e2e/fixtures/echo-server/.*\.rs$
  rust-clippy-quic-client: any of: ^tests/e2e/fixtures/quic-client/.*\.rs$
  shellcheck: any of: \.(sh|bash)$, but not: ^(.*target/|.*DerivedData/)
  swiftlint: any of: ^ios-macos/.*\.swift$
